*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    display: flex;
    justify-content: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 1.5em;
}

.imageCardContainer{
    display: flex;
    justify-content: center;
    gap: 1em;
    
}

.imageCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageCard > h2{
    font-size: 24px;
    transition: ease-in-out 0.2s;
}

.imageCard:hover > h2{
    font-size: 28px;
}

.displayImage{
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.displayImage:hover{
    border: 4px solid black;
    transform: scale(1.02);
}

.displayImage:active{
    border: 3px solid black;
    transform: scale(0.99);
}

.imageGame{
    margin: 1em;
}

#dropdown > option:nth-child(even){
    background-color: rgb(255, 226, 226);
}

.resultOverlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.resultContainer {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  min-width: 320px;
  text-align: center;
}

.resultContainer > form{
    display: flex;
    gap: 0.5em;
}

a{
    margin-left: 1em
}

.leaderboardPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#leaderboard {
    border-collapse: collapse;
    table-layout: fixed;
}

#leaderboard th,
#leaderboard td {
  padding: 10px 20px;
  text-align: center;
}

#leaderboard tbody tr:nth-child(odd) {
  background-color: rgb(255, 226, 226);
}

#leaderboard tbody tr:nth-child(even) {
  background-color: white;
}

.leaderboardButton {
  margin-top: 1em;
  padding: 0.7em 1.2em;

  background-color: white;
  border: 2px solid black;
  border-radius: 8px;

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.leaderboardButton:hover {
  background-color: rgb(213, 212, 212);
  transform: translateY(2px);
  transition: ease-in-out 0.2s;
}

.leaderboardButton:active {
  background-color: rgb(166, 166, 166);
  transform: translateY(0);
}