*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    display: flex;
    justify-content: center;
}

.imageCardContainer{
    display: flex;
    justify-content: center;
    gap: 1em;
    
}

.imageCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageCard > h2{
    font-size: 24px;
    transition: ease-in-out 0.2s;
}

.imageCard:hover > h2{
    font-size: 28px;
}

.displayImage{
    border: 2px solid black;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
}

.displayImage:hover{
    border: 4px solid black
}

.imageGame{
    margin: 1em;
}

#dropdown > option:nth-child(even){
    background-color: rgb(255, 226, 226);
}

.resultOverlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.resultContainer {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  min-width: 320px;
  text-align: center;
}

.resultContainer > form{
    display: flex;
    gap: 0.5em;
}